.changedPassword-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Poppins;
    text-align: center;
    gap: 50px;
    img{
        width: 200px;
        height: 200px;
    }

    h1{
        font-weight: 300;
        width: 300px;
    }
}